<br />
<br />
   <p class="text-center">Ruby/Go/R<sub>a work in progress</sub>, Software Engineer<sub>almost</sub>, Agile, Data Science aspirant and love good literature<sub>❤</sub> . *I just write to not forget and read to remember*</p>  

<br />

<p>
<g:plus href="https://plus.google.com/107928640229455398348" rel="author"></g:plus>

<br />
<br />
<a href="https://twitter.com/g3ortega" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @g3ortega</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>	


