<br />
<br />
<p class="text-center">Rubyist, aspiring Data Scientist, avid reader, amateur writer and self-taught.</p>	


<br />
<style type='text/css'>img.recent_thumb {padding:0px;width:55px;height:55px;border:0; float:left;margin:12px;} .recent_posts_with_thumbs {float: left;width: 100%;min-height: 70px;margin: 5px 0px 5px 0px;padding: 0;font-size:14px;} ul.recent_posts_with_thumbs li {padding-bottom:0px;padding-top:5px;min-height:65px;} .recent_posts_with_thumbs a {text-decoration:none;} .recent_posts_with_thumbs strong {font-size:10px;}</style>
<p><script style="text/javascript" src="http://www.webaholic.co.in/other/recent-posts-widget-with-images.js"></script><script style="text/javascript">var numposts = 5; var showpostthumbnails = true; var displaymore = false; var displayseparator = false; var showcommentnum = false; var showpostdate = false; var showpostsummary = true; var numchars = 95;</script><script src="http://www.allbloggingtools.com/feeds/posts/default?orderby=published&alt=json-in-script&callback=showrecentpostswiththumbs"></script>

<h3>Find me in the Matrix!</h3>
<h4>Google+</h4>
<p>
<g:plus href="https://plus.google.com/107928640229455398348" rel="author"></g:plus>

<h4>Twitter</h4>
<p><a class="twitter-timeline" href="https://twitter.com/g3ortega" data-widget-id="330757112537939968">Tweets por @g3ortega</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>

</p>
			


