<br />
<br />
<p class="text-center">Rubyist, aspiring Data Scientist, avid reader, amateur writer and self-taught.</p>	

<br />

<h3>Find me in the Matrix!</h3>
<h4>Google+</h4>
<p>
<g:plus href="https://plus.google.com/107928640229455398348" rel="author"></g:plus>

<h4>Twitter</h4>
<p><a class="twitter-timeline" href="https://twitter.com/g3ortega" data-widget-id="330757112537939968">Tweets por @g3ortega</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>

</p>
			


