<div class="navbar navbar-fixed">
  <div class="navbar-inner">		
    <ul class="nav"> 
	

      <li class="">
      <a href="http://g3ortega.com"><i class="icon-home"></i> Home</a>
      </li>
          <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Projects <b class="caret"></b></a>
        <ul class="dropdown-menu">          
          <li class=""><a href="#" rel="tooltip">Under Construction!</a></li>         
        </ul>
       </li> 
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
        <ul class="dropdown-menu">                    
          <li class=""><a href="http://www.twitter.com/g3ortega" rel="tooltip" title="Go to twitter.com/g3ortega" target="_blank"><i class="icon-twitter"></i>  Twitter</a></li>          
          <li class=""><a href="http://www.linkedin.com/pub/geraldavid/a/848/1b3" rel="tooltip" title="Go to LinkedIn profile" target="_blank"><i class="icon-linkedin"></i>  LinkedIn</a></li>      
			<li class=""><a href="http://github.com/g3ortega" rel="tooltip" title="Go to github.com/g3ortega" target="_blank"><i class="icon-github"></i>  GitHub</a></li>
        </ul>
       </li>
	   
	  <li class="">
      <a href="http://blog.g3ortega.com" target="_blank"><i class="icon-book"></i> Blog</a>
      </li>
	  
	  <li class="">
      <a href="./contact"><i class="icon-envelope"></i> Contact</a>
      </li>

			  
    </ul>   
    </div>
  </div>
	
