<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <i class="icon-home"></i> Gerardo Ortega</a>


    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Projects <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class=""><a href="#" rel="tooltip">Under Construction!</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class=""><a href="http://www.twitter.com/g3ortega" rel="tooltip" title="Go to Twitter Profile" target="_blank"><i class="icon-twitter"></i>  Twitter</a></li>
            <li class=""><a href="http://www.linkedin.com/in/geraldavid" rel="tooltip" title="Go to LinkedIn profile" target="_blank"><i class="icon-linkedin"></i>  LinkedIn</a></li>
            <li class=""><a href="http://github.com/g3ortega" rel="tooltip" title="Go to Github" target="_blank"><i class="icon-github"></i>  GitHub</a></li>
          </ul>
        </li>

        <li class="">
          <a href="http://blog.g3ortega.com" target="_blank"><i class="icon-book"></i> Blog</a>
        </li>

        <li class="">
          <a href="./contact"><i class="icon-envelope"></i> Contact</a>
        </li>

      </ul>

    </div>
    </div>
  </nav>





